body {
    background-color: #312e48;
}

section {
    padding: 16px;
    background-color: #8b8a93;
    border-radius: 8px;

    max-width: 768px;
    margin: 16px auto;
    color: #fff;
}

section.main-section {
    text-align: center;
}

img.main-image {
    width: 100%;
    max-width: 768px;
}

footer {
    background-color: #8b8a93;
    margin-top: calc(16px * 2);
    padding: 16px;
    width: 100%;
}

footer * {
    max-width: 768px;
    margin: auto;
}
